@use "../abstracts";

html.dark {
    --text-color: #fff;
    --bg-color: #171c28;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(82deg) brightness(105%)
        contrast(105%);

    --header-bg-color: var(--bg-color);
    --body-bg-color: #292e39;
    --footer-bg-color: var(--header-bg-color);
    --footer-text-color: #9e9da6;
    --top-act-group-bg-color: var(--body-bg-color);
    --top-act-group-shadow-color: rgba(0, 0, 0, 0.2);
    --top-act-group-separate-color: #ededf6;

    @include abstracts.screen(lg) {
        --header-shadow-color: rgba(0, 0, 0, 0.2);
    }

    // Header
    --header-act-dropdown-bg-color: #2f3441;
    --header-act-dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --header-act-dropdown-border-color: #171c28;

    // Dropdown
    --dropdown-bg-color: #2f3441;
    --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(16%) sepia(9%) saturate(1447%) hue-rotate(186deg)
        brightness(96%) contrast(87%);
    --top-menu-border-color: var(--bg-color);
    --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(10%) saturate(0%) hue-rotate(160deg)
        brightness(103%) contrast(95%);

    // Sidebar
    --sidebar-bg-color: var(--body-bg-color);
    --sidebar-shadow-color: rgba(23, 28, 40, 0.4);

    // Category item
    --cate-item-bg-color: var(--bg-color);
    --cate-item-thumb-color: var(--body-bg-color);
    --cate-item-title-color: #fff;

    // Button
    --filter-btn-color: #fff;
    --filter-btn-bg-color: var(--bg-color);

    // Product-card
    --product-card-bg-color: var(--bg-color);
    --product-card-shadow-color: rgba(0, 0, 0, 0.2);

    // Filter form
    --filter-form-bg-color: var(--dropdown-bg-color);
    --filter-form-shadow-color: rgba(0, 0, 0, 0.4);
    --filter-form-arrow-color: var(--dropdown-arrow-color);

    // Auth
    --auth-content-bg-color: var(--body-bg-color);
    --auth-intro-bg-color: var(--bg-color);
    --auth-intro-text-color: #b9babe;
    --auth-heading-color: #b9babe;

    // Form
    --form-placeholder-color: #b9babe;
    --form-tag-bg-color: var(--bg-color);

    // Product detail
    --product-detail-bg-color: var(--body-bg-color);
    --product-detail-info-bg-color: var(--bg-color);
    --product-detail-info-content-bg-color: transparent;
    --product-detail-tag-bg-color: var(--body-bg-color);

    @include abstracts.screen(md) {
        --product-detail-bg-color: var(--body-bg-color);
        --product-detail-info-content-bg-color: var(--bg-color);
        --product-detail-info-bg-color: transparent;
    }

    // Breadcrumbs
    --breadcrumbs-bg-color: var(--bg-color);
    --breadcrumbs-shadow-color: rgba(23, 28, 40, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg-color: var(--bg-color);
    }

    // Search bar
    --search-bar-bg-color: var(--bg-color);

    // Review card
    --review-card-bg-color: var(--bg-color);

    // Text content
    --text-content-hr-bg-color: #414349;

    // Checkout
    --checkout-breadcrumbs-bg-color: var(--bg-color);
    --checkout-cart-info-bg-color: var(--bg-color);
    --checkout-cart-info-shadow-color: rgba(23, 28, 40, 0.2);
    --checkout-border-color: var(--body-bg-color);
    --checkout-gift-shadow-color: rgba(23, 28, 40, 0.2);

    // Dialog
    --dialog-bg-color: #2f3441;
    --dialog-shadow-color: rgba(23, 28, 40, 0.2);
}
