@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(10%) sepia(24%) saturate(1159%) hue-rotate(210deg) brightness(98%)
        contrast(101%);
    --background-white: #fff;
    --header-bg-color: #eee;
    --body-bg-color: #f6f6f6;
    --footer-bg-color: var(--header-bg-color);
    --top-act-group-bg-color: var(--background-white);
    --top-act-group-shadow-color: rgba(237, 237, 246, 0.2);
    --top-act-group-separate-color: #ededf6;

    @include abstracts.screen(lg) {
        --header-bg-color: var(--background-white);
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    // Header
    --header-act-dropdown-bg-color: #fff;
    --header-act-dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #d2d1d6;

    // Dropdown
    --dropdown-bg-color: var(--background-white);
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;

    // Sidebar
    --sidebar-bg-color: var(--background-white);
    --sidebar-shadow-color: rgba(200, 200, 200, 0.4);

    // Category item
    --cate-item-bg-color: #eee;
    --cate-item-thumb-color: var(--background-white);
    --cate-item-title-color: #000;

    @include abstracts.screen(md) {
        --cate-item-bg-color: var(--background-white);
    }

    // Button
    --filter-btn-color: #6c6c72;
    --filter-btn-bg-color: var(--background-white);

    // Product-card
    --product-card-bg-color: var(--background-white);
    --product-card-shadow-color: rgba(237, 237, 246, 0.2);

    // Filter form
    --filter-form-bg-color: var(--background-white);
    --filter-form-shadow-color: rgba(200, 200, 200, 0.4);

    // Auth
    --auth-content-bg-color: var(--background-white);

    @include abstracts.screen(md) {
        --auth-intro-bg-color: var(--background-white);
    }

    // Form
    --form-placeholder-color: #d2d1d6;
    --form-tag-bg-color: #f8f8fb;

    // Product detail
    --product-detail-bg-color: #fff;
    --product-detail-info-bg-color: #f6f6f6;
    --product-detail-info-content-bg-color: #fff;
    --product-detail-tag-bg-color: #ededf6;

    @include abstracts.screen(md) {
        --product-detail-bg-color: #fafafd;
        --product-detail-info-bg-color: #fff;
    }

    // Breadcrumbs
    --breadcrumbs-bg-color: #f6f6f6;
    --breadcrumbs-shadow-color: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(md) {
        --breadcrumbs-bg-color: #fff;
    }

    // Search bar
    --search-bar-bg-color: #fff;

    // Review card
    --review-card-bg-color: #fafafd;
    @include abstracts.screen(md) {
        --review-card-bg-color: #fff;
    }

    // Text content
    --text-content-hr-bg-color: #ebebeb;
}
