@use "../abstracts";

.form {
    &__group.invalid &__text-input {
        border-color: #f33a58;
        background: rgba($color: red, $alpha: 0.1);
    }

    &__group {
        margin-top: 30px;

        @include abstracts.screen(md) {
            margin-top: 20px;
        }

        &.invalid .form__error {
            display: block;
            text-align: left;
            font-size: 1.2rem;
            line-height: 1.6rem;
            padding: 6px 0 0;
            color: #f33a58;
        }

        &--inline {
            display: flex;
            align-items: center;
        }
    }

    &__text-input {
        display: flex;
        align-items: center;
        height: 50px;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid #d2d1d6;

        &:focus-within {
            border-color: #77dae6;
        }

        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__input {
        flex: 1;
        height: 100%;

        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;

        &-icon {
            margin-left: 12px;
        }

        &::placeholder {
            color: var(--form-placeholder-color);
        }

        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;

        display: flex;
        align-items: center;

        user-select: none;

        &-label {
            margin-left: 30px;
            color: #9e9da8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9e9da8;
        }
    }

    &__checkbox:has(:checked) {
        &::before {
            border-color: #ffb700;
            background: #ffb700;
        }

        &::after {
            left: 2px;
            top: 4px;
            width: 15px;
            height: 8px;
            border: 3px solid;
            border-color: transparent transparent #fff #fff;
            rotate: -45deg;
        }
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 145.455%;

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
    }

    &__select-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #d2d1d6;
    }

    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 14px;
        min-width: var(--width, 108px);
        height: calc(100% - 10px);

        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;

        cursor: pointer;

        @include abstracts.screen(xl) {
            flex: 1;
        }

        @include abstracts.screen(sm) {
            min-width: auto;
            width: 100%;
        }
    }

    &__select + &__select {
        border-left: 1px solid #d2d1d6;
    }

    &__select-arrow {
        width: 16px;
    }

    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 20px;

        @include abstracts.screen(sm) {
            gap: 10px;
        }
    }

    &__tag {
        padding: 6px 12px;
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 142.857%;
        border-radius: 6px;
        color: #9e9da8;
        background: var(--form-tag-bg-color);

        transition: color 0.2s;

        &:hover {
            color: var(--text-color);
        }
    }
}
